/* -------- General ----------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,500;1,100;1,200;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* le quitamos el margen general */
* {
  font-family: "Roboto", sans-serif;
  color: var(--c-blue-navy);
  margin: 0;
  font-size: 1.4vw;
}

/* variables de colores para usarlos repetidamente */
:root {
  --c-beige: #e8d5b7;
  --c-blue-navy: #13271f;
  --c-red: #cf0016;
  --c-yellow: #f5b349;
}

/* margenes para el main */
main {
  margin: 2rem 5rem;
}

/* -------- navbar ----------------------------------- */
/* navbar alignment */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 2rem;
  padding: 0.9rem 2.4rem;
  border-bottom: 1px solid var(--c-yellow);
}

/* navbar image */
nav img {
  height: 4vh;
  max-height: 8vh;
  width: auto;
}

/* links alignment */
nav ul {
  display: flex;
  align-items: center;
}

/* le quitamos el punto al listado y le añadimos un margen para que no se solapen los elementos*/
nav ul li {
  list-style-type: none;
  margin-left: 2rem;
}
/* responsive mobile para los items del menú */
@media only screen and (max-width: 600px) {
  nav ul li {
    line-height: 1vh;
  }
}

/* al link de los elementos de la lista le quitamos el subrayado y cambiamos el texto */
nav a,
nav ul li a {
  color: var(--c-red);
  font-size: 2vw;
  text-decoration: none;
}

.nav-logo-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo-flex h2 {
  margin-left: 1rem;
  color: var(--c-red);
  font-size: 3.5vw;
}

/* -------- Home ----------------------------------- */

.home-container img {
  width: 100vw;
  height: auto;
}
/* responsive mobile para la foto */
@media only screen and (max-width: 600px) {
  .home-container img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: block;
  }
}
/* con esto posicionamos la imagen detrás del texto y justificamos el texto centrado */
.home-container {
  position: relative;
  text-align: center;
}
/* con esto posicionamos el texto en frente y creamos una caja posterior para mejorar su visibilidad*/
.text-home-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(245, 179, 73, 0.8);
  padding: 6vh 10vw 6vh 4vw;
  border-radius: 1vh;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.text-home-center h1 {
  color: var(--c-red);
  font-size: 6vw;
}

.text-home-center h3 {
  color: var(--c-red);
  font-size: 3.5vw;
}

.text-home-center p {
  color: var(--c-blue-navy);
  font-size: 1.8vw;
  font-weight: 500;
}

/* acortamos la línea hr y la centramos */
.home-line {
  margin: 1rem 40%;
  width: 20%;
  text-align: center;
  border: 1px solid var(--c-red);
}

button {
  border: 0;
  border-radius: 50px;
  box-shadow: 0px 10px 15px -3px rgba(19, 39, 31, 0.1);
  background-color: var(--c-beige);
  color: var(--c-red);
  font-size: 1.5vw;
  padding: 1rem 1.5rem;
  margin-top: 1rem;
}

/* -------- Categoría ----------------------------------- */
.category-main {
  margin: 5% 15%;
}

.title {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 5vw;
  color: var(--c-yellow);
}

/* creo un grid para organizar el contenido con grid para que sea más cuadrado y pulcro */
.category {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.category a {
  text-decoration: none;
}

/* creación de la tarjeta con el box-shadow que hace como un "dibujo" del contorno sin necesidad de añadir un borde */
.card {
  box-shadow: 0px 10px 15px -3px rgba(19, 39, 31, 0.1);
  text-align: center;
  border-radius: 1vh;
}

.hr-card {
  margin: 0.5rem 40%;
  width: 20%;
  text-align: center;
  border: 1px solid var(--c-yellow);
}

.img-card {
  width: 100%;
  height: 15vh;
  object-fit: cover;
  display: block;
  border-radius: 1vh 1vh 0 0;
}

.card-text {
  padding: 2rem 1.5rem;
}

.card-text h3 {
  color: var(--c-red);
  font-size: 2vw;
}

/* responsive mobile */
@media only screen and (max-width: 600px) {
  /* En mobile solamente habrá una columna  */
  .category {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* -------- Presentación ----------------------------------- */

.presentacion-main {
  margin: 5% 10% 5% 10%;
}

.flex-2col {
  display: flex;
}

.title-left {
  margin-bottom: 2.5rem;
  font-size: 5vw;
  color: var(--c-yellow);
}

/* margen que hace la función de salto de párrafo */
.flex-2col p {
  margin-bottom: 1.5rem;
}

.flex-2col img {
  width: 40vw;
  height: auto;
  margin-right: 2.5vw;
}

/* responsive mobile para la disposición de los elementos en la página */
@media only screen and (max-width: 600px) {
  .flex-2col {
    display: block;
  }

  .flex-2col img {
    width: 100vw;
    height: 10vh;
    margin-bottom: 5vw;
    margin-left: -10vw;
    object-fit: cover;
    display: block;
  }
}

/* -------- Detalle ----------------------------------- */
.section-detalle img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  display: block;
}

article {
  margin: 5% 10% 5% 10%;
}

/* margen que hace la función de salto de párrafo */
article p {
  margin-bottom: 1.5rem;
}

.list-detalle {
  list-style-type: none;
}

.list-detalle li ul {
  list-style-type: none;
  border-left: 1px solid var(--c-red);
  padding-left: 1rem;
  margin-top: 0.5rem;
}

/* -------- Enlaces ----------------------------------- */
.main-links {
  margin: 5% 10% 5% 10%;
}

.main-links h3 {
  margin-bottom: 1rem;
  font-size: 2.2vw;
  color: var(--c-red);
}

.main-links li {
  margin-bottom: 1rem;
  color: var(--c-blue-navy);
}

.main-links li a {
  color: var(--c-red);
  text-decoration: none;
}

.main-links li a:hover {
  text-decoration: underline;
}

.main-links li ul {
  list-style-type: none;
  border-left: 1px solid var(--c-beige);
  padding-left: 1rem;
  margin-top: 0.5rem;
}
