/* -------- General ----------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,500;1,100;1,200;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* le quitamos el margen general */
* {
  font-family: "Roboto", sans-serif;
  color: var(--c-blue-navy);
  margin: 0;
}

/* variables de colores para usarlos repetidamente */
:root {
  --c-beige: #e8d5b7;
  --c-blue-navy: #13271f;
  --c-red: #cf0016;
  --c-yellow: #f5b349;
}

/* margenes para el main */
main {
  margin: 2rem 5rem;
}

/* -------- navbar ----------------------------------- */
/* navbar alignment */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 2rem;
  padding: 0.9rem 2.4rem;
  border-bottom: 1px solid var(--c-yellow);
}

/* navbar image */
nav img {
  height: 50%;
  max-height: 60px;
  width: auto;
}

/* links alignment */
nav ul {
  display: flex;
  align-items: center;
}

/* le quitamos el punto al listado y le añadimos un margen para que no se solapen los elementos*/
nav ul li {
  list-style-type: none;
  margin-left: 1rem;
}

/* al link de los elementos de la lista le quitamos el subrayado y cambiamos el texto */
nav ul li a {
  color: var(--c-red);
  font-size: 1.15rem;
  text-decoration: none;
}

/* -------- Home ----------------------------------- */

.home-container img {
  width: 100vw;
  height: auto;
}
/* con esto posicionamos la imagen detrás del texto y justificamos el texto centrado */
.home-container {
  position: relative;
  text-align: center;
}
/* con esto posicionamos el texto en frente y creamos una caja posterior para mejorar su visibilidad*/
.text-home-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(245, 179, 73, 0.8);
  padding: 3rem 5rem;
  border-radius: 1vh;
}

.text-home-center h1 {
  color: var(--c-red);
  font-size: 3rem;
}

.text-home-center h3 {
  color: var(--c-red);
  font-size: 2rem;
}

.text-home-center p {
  color: var(--c-blue-navy);
  font-size: 1.06rem;
  font-weight: 500;
}

/* acortamos la línea hr y la centramos */
.home-line {
  margin: 1rem 40%;
  width: 20%;
  text-align: center;
  border: 1px solid var(--c-red);
}

/* -------- Categoría ----------------------------------- */
.category-main {
  margin: 5% 15% 5% 15%;
}

.title {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 3rem;
  color: var(--c-yellow);
}

/* creo un grid para organizar el contenido con grid para que sea más cuadrado y pulcro */
.category {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}
/* creación de la tarjeta con el box-shadow que hace como un "dibujo" del contorno sin necesidad de añadir un borde */
.card {
  box-shadow: 0px 10px 15px -3px rgba(19, 39, 31, 0.1);
  text-align: center;
  border-radius: 1vh;
}

.hr-card {
  margin: 0.5rem 40%;
  width: 20%;
  text-align: center;
  border: 1px solid var(--c-yellow);
}

.img-card {
  width: 100%;
  height: 15vh;
  object-fit: cover;
  display: block;
  border-radius: 1vh 1vh 0 0;
}

.card-text {
  padding: 2rem 1.5rem;
}

.card-text h3 {
  color: var(--c-red);
}

/* -------- Presentación ----------------------------------- */

.presentacion-main {
  margin: 5% 15% 5% 15%;
}

/* margen que hace la función de salto de párrafo */
.pflex-2col p {
  margin-bottom: 1.5rem;
}

.flex-2col {
  display: flex;
}

.flex-2col img {
  width: 40%;
  height: auto;
}
